@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

body{min-width:200px;background:#efefef;}
.sc{padding:10px;min-height:62px;}
iframe{border:0;background:#fff;max-width:100%;}
.bar-nav .logo{
    width:32px;
    height:32px;
    border-radius:50%;
    -webkit-border-radius:50%;
    margin-top:6px;
    border:2px solid #000;
}
.callout{
    box-shadow: 0 2px 5px rgba(0,0,0,.2),0 2px 5px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2),0 2px 5px rgba(0,0,0,.3);
    border-radius: 0;
    border: 0;
}
